apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: my-namespace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: my-nginx-image:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        - containerPort: 22
        envFrom:
        - configMapRef:
            name: nginx-config
        volumeMounts:
        - name: nginx-volume
          mountPath: /usr/share/nginx/html
      volumes:
      - name: nginx-volume
        emptyDir: {}
      # Remove or comment out the imagePullSecrets line since we're using local images
      # imagePullSecrets:
      # - name: your-image-pull-secret

---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: my-namespace
spec:
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80
    name: http
  - port: 22
    targetPort: 22
    name: ssh
  type: NodePort